<!DOCTYPE html>
<html>

    <head>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <link rel="stylesheet" type="text/css" href="hello.css" />
        <title>hello vue.js</title>
    </head>

    <body>
        <p>app1:</p>
        <div id="app1">
            <span>Message: {{ msg }}</span><br />
            <button v-on:click="change_msg">change</button>
        </div>

        <div id="app2">
            <p>app2:</p>
            <span v-once>Message: {{ msg }}</span><br />
            <button v-on:click="change_msg">change</button>
        </div>
       
        <div id="app3">
            <p>app3:</p>
            <p>Using mustaches:{{rawHtml}}</p>
            <p>Using v-html directive:<span v-html="rawHtml"></span></p>
        </div>

        <div id="app4">
            <p>app4:</p>
            <p v-bind:style="app_style">这段字有自己的风格</p>
            <button v-on:click="change_style">change</button>
        </div>
        
        <div id="app5">
            <p>app5:</p>
            <p>{{ ok ? 'YES':'NO'}}</p>
            <p>{{ number+1 }}</p>
            <button v-on:click="add">add</button>
        </div>

        <div id="app6">
            <p>app6:</p>
            <p>Original message: "{{message}}"</p>
            <p>Computed reversed message:"{{reversedMessage}}"</p>
        </div>

        <div id="app7">
            <p>app7:</p>
            <p>fullname: {{ fullname }}</p>
            <button @click="change_name">change name</button>
        </div>

        <div id="app8">
            <p>app8:</p>
            <p :style="now_style">这段文字有风格</p>
            <button @click="change_style">change style</button>
        </div>

        <p>app9:</p>
        <div id="app9" :class="selfClass" @mouseover="change" @mouseout="change">
            <p>{{message}}</p>
        </div>
        
        <p>app10:</p>
        <div id="app10" class="staticClass" :class="{class1:c1alive, class2:c2alive}" @mouseover="change" @mouseout="change">
            <p>{{message}}</p>
        </div>

        <p>app11:</p>
        <div id="app11" class="staticClass" :class="selfClass"  @mouseover="change" @mouseout="change">
            <p>{{message}}</p>
        </div>

        <p>app12:</p>
        <div id="app12" :style="selfStyle" class="staticClass"  @mouseover="change" @mouseout="change">
            <p>{{message}}</p>
        </div>

        <p>app13:</p>
        <div  id="app13">
            <ul>
                <li v-for="it in items">
                    {{ it.message }}
                </li>
            </ul>
            <ul>
                    <li v-for="(it, index) of items">
                        {{parentMessage}}-{{index}}-{{it.message}}
                    </li>
            </ul>
            <ul> 
                <li v-for="i in 3">
                    {{items[i].message}}
                </li>
            </ul>
            <ul>
                <li v-for="(it, index) of items" v-if="index%2==0">
                    {{it.message}}
                </li>
            </ul>
            <button @click="exchange">{{items[0].message}}</button>
        </div>

        <p>app14:</p>
        <div id="app14" class="demo">
            <span v-for="(value, key, index) in friend" class="demo1">
               {{index}}.{{key}}: {{value}}<br />
            </span>
        </div>

        <p>app15</p>
        <div id="app15">
            <p>I have been click {{clickTime}} times!</p>
            <button @click.left="hello">hello</button>
            <button @click.right.prevent="clickTime+=1">add one</button>
            <button @click.once="say('holle world')">say</button><br />
            <p>{{message}}</p>
            <input v-on:keyup.enter="changeT()" v-model:value="value"></input>
        </div>

        <p>app16</p>
        <div id="app16">
            <p>Message is: {{message1}}</p>
            <input v-model="message1" placeholder="Editor me"><br />
            <span>Multiline message is:</span>

            <p style="white-space:pre-line;">{{message2}}</p>
            <textarea class="demo2" v-model.trim="message2" placeholder="Editor me"></textarea><br />

            <input type="checkbox" id="checkbox" v-model="checked" value="apple">
            <label for="checkbox">{{"单个绑定"+checked}}</label><br />

            <input type="checkbox" id="apple" v-model="choseFrut" value="apple">
            <label for="apple">apple</label>
            <input type="checkbox" id="banana" v-model="choseFrut" value="banana">
            <label for="banana">banana</label>
            <input type="checkbox" id="pear" v-model="choseFrut" value="pear">
            <label for="pear">pear</label>
            <p>多个复选框绑定choseFrut: <span v-for="frut in choseFrut">{{frut+" "}}</span></p>

            <input type="radio" id="apple1" v-model="picked" value="apple">
            <label for="apple1">apple</label>
            <input type="radio" id="pear1" v-model="picked" value="pear">
            <label for="pear1">pear</label>
            <p>单选框picked: {{picked}}</p>

            <select v-model="selected">
                <option disabled value=''>请选择</option>
                <option>apple</option>
                <option>pear</option>
                <option>banana</option>
            </select>
            <span>Selected: {{selected}}</span><br />

            <select v-model="selected1">
                <option disabled value="">请选择</option>
                <option v-for="selection in selections" v-bind:value="selection.value">
                    {{selection.text}}
                </option>
            </select>
            <span>Selected: {{selected1}}</span>
        </div>

        <p>app17</p>
        <div id="components-demo">
            <button-counter title="apple"></button-counter>
            <button-counter title="pear"></button-counter>
            <button-counter title="banana"></button-counter>
            <button-counter v-for="title in titles" v-bind:title="title.mes"></button-counter>
        </div>

        <script src="hello.js"></script>
        
    </body>
</html>
